<div ng-controller="EndpointsController" data-ng-init="findOne()">
    <form name="endpointForm" class="form-horizontal">
        <div class="row">
            <div class="col-lg-10">
                <span class="bottom col-lg-10"><h3>Endpoint - {{endpoint.name}}</h3></span>
                <span class="btn-toolbar col-lg-2">
                    <a href="" ui-sref="endpoint_all" title="Back">
                        <i><h3 class="glyphicon glyphicon-circle-arrow-left"></h3></i>
                    </a>
                    <a href="" ng-click="create_update(endpointForm)" title="Save the Endpoint">
                        <i><h3 class="glyphicon glyphicon-floppy-disk"></h3></i>
                    </a>
                    <a href=""  ng-if="endpoint.id" ng-click="remove(endpoint)" title="Delete the Endpoint">
                        <i><h3 class="glyphicon glyphicon-trash"></h3></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><medium ng-show="endpoint.updated" class="margin-small">Last updated at {{endpoint.updated | date:'dd-MM-yyyy HH:mm:ss'}}</medium></p>
                <p></p>
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                <div class="margin-medium">
                    <div sf-schema="schema" sf-form="form" sf-model="endpoint" ></div>
                </div>
                <div class="margin-medium">
                    <div class="form-group">
                        <div ui-grid="{paginationPageSizes: [10,20,50,100], paginationPageSize: 10, enableFiltering: true, data: endpoint.details, columnDefs: columnDefs}"
                             ui-grid-pagination ui-grid-resize-columns ui-grid-move-columns ui-grid-edit class="ui-grid"></div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="propertyGridCellTemplate.html">
            <div class="ui-grid-cell-contents">
                <input ng-if="grid.appScope.isPassword(row.entity)" type="password" ui-grid-editor ng-model="row.entity.value">
                <input ng-if="! grid.appScope.isPassword(row.entity)" type="text" ui-grid-editor ng-model="row.entity.value">
            </div>
        </script>
    </form>
</div>
