<p></p>
<div class="row">
  <div ng-if="teststep.endpointId" class="col-lg-10">
    <a href="" ng-click="viewEndpoint(teststep.endpointId)" class="margin-small">{{teststep.endpoint.name}}</a>
    <button type="button" class="btn btn-primary" ng-click="changeEndpoint(teststep)" title="Change Endpoint">
      <span class="glyphicon glyphicon-edit"></span>
    </button>
  </div>
  <div ng-if="! teststep.endpointId" class="col-lg-8">
    <input name="soapAddress" type="text" class="form-control margin-small" ng-model="teststep.properties.soapAddress" id="soapAddress" required
           placeholder="Please select or input an endpoint to invoke">
  </div>
  <div ng-if="! teststep.endpointId" class="btn-toolbar col-lg-2">
    <button type="button" class="btn btn-primary" ng-click="createEndpoint(teststep)" title="Share the Endpoint">
      <span class="vertical-center glyphicon glyphicon-share-alt"></span>
    </button>
    <button type="button" class="btn btn-primary" ng-click="changeEndpoint(teststep)" title="Change Endpoint">
      <span class="glyphicon glyphicon-edit"></span>
    </button>
  </div>
  <div class="btn-group col-lg-2" dropdown>
    <button type="button" class="btn btn-primary" dropdown-toggle>
      Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="" ng-click="invoke(teststep)">Invoke the Test Step</a></li>
      <li><a href="" ng-click="evaluateDataSet()">Evaluation Assertions</a></li>
    </ul>
  </div>
</div>
<p></p>
<div class="row">
  <div class="col-lg-12">
    <textarea name="request" ng-model="teststep.request" id="request" placeholder="Request" class="form-control"></textarea>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div ui-grid="responseOptions" ui-grid-resize-columns ui-grid-move-columns class="ui-grid small-grid"></div>
  </div>
</div>
<p></p>
<div class="row">
  <div class="col-lg-12">
    <div ui-grid="assertionsModelObj.gridOptions" ui-grid-resize-columns ui-grid-move-columns ui-grid-edit class="ui-grid small-grid"></div>
  </div>
  <script type="text/ng-template" id="assertionGridNameEditableCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <div>
        <input type="text" class="form-control" maxlength="200" ui-grid-editor ng-model="row.entity.name">
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="assertionGridValueEditableCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <div>
        <input type="text" class="form-control" maxlength="200" ui-grid-editor ng-model="row.entity.properties.value">
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="assertionGridResultCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <div ng-class="{ 'background-red' : row.entity.result === false, 'background-green' : row.entity.result === true }">
        {{COL_FIELD}}
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="assertionGridDeleteCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <a ng-click="grid.appScope.removeAssertion(row.entity)" href="">
        <i class="glyphicon glyphicon-trash center-block text-center"></i>
      </a>
    </div>
  </script>
</div>
