<div class="row">
  <div class="col-lg-4 half-height">
    <textarea name="request" ng-model="teststep.request" id="request" wrap="off" placeholder="SOAP Request"
              class="form-control full-height-important"></textarea>
  </div>
  <div class="col-lg-8 half-height">
    <div ui-grid="responseOptions" ui-grid-resize-columns ui-grid-tree-view
         class="ui-grid full-height-important"></div>
  </div>
  <script type="text/ng-template" id="responseCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <a ng-click="grid.appScope.createXPathContainAssertion(row.entity.path, row.entity.value)" href="">
        {{COL_FIELD}}
      </a>
    </div>
  </script>
</div>
