<div ng-controller="TeststepsController" ng-init="findOne()">
  <form name="teststepForm" class="form-horizontal">
    <div class="row">
      <div class="col-lg-10">
        <span class="bottom col-lg-10"><h3>Test Step - {{teststep.name}}</h3></span>
          <span class="btn-toolbar col-lg-2">
            <a href="" ui-sref="testcase_edit({testcaseId: teststep.testcaseId})" title="Back">
              <i><h3 class="glyphicon glyphicon-circle-arrow-left"></h3></i>
            </a>
            <a href="" ng-click="create_update(teststepForm)" title="Save the Test Step">
              <i><h3 class="glyphicon glyphicon-floppy-disk"></h3></i>
            </a>
            <a href="" ng-click="remove(teststep)" title="Delete the Test Step">
              <i><h3 class="glyphicon glyphicon-trash"></h3></i>
            </a>
          </span>
      </div>
    </div>
    <tabset>
      <tab heading="Basic Info">
        <div class="form-group"></div>
        <div class="form-group" ng-class="{ 'has-error' : savingStatus.submitted && teststepForm.name.$invalid }">
          <div class="col-lg-6">
            <label for="name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
              <input name="name" type="text" class="form-control" ng-model="teststep.name"
                     ng-change="autoSave(teststepForm.$valid)" id="name" placeholder="Name" maxlength="200" required>
              <div ng-show="savingStatus.submitted && teststepForm.name.$invalid" class="help-block">
                <p ng-show="teststepForm.name.$error.required">Name is required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-6">
            <label for="description" class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
              <textarea name="description" ng-model="teststep.description" ng-change="autoSave(teststepForm.$valid)"
                        id="description" cols="30" rows="10" placeholder="Description" class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-6">
            <label for="intface" class="col-lg-2 control-label">Interface</label>
            <div class="col-lg-10">
              <input name="intface" type="text" class="form-control" ng-model="teststep.intface.name" id="intface" readonly>
            </div>
          </div>
        </div>
      </tab>
      <tab ng-if="teststep.id" heading="Assertions" active="true">
        <div ng-if="teststep.type==='SOAP'" ng-include="'/ui/views/teststeps/edit-soap-request-response.html'"></div>
        <div ng-if="teststep.type!=='SOAP'" ng-include="'/ui/views/teststeps/edit-db-request-response.html'"></div>
      </tab>
    </tabset>
  </form>
</div>