<div ng-controller="IntfacesController" ng-init="find()">
    <div class="row">
        <div class="col-md-10">
            <span class="bottom col-md-10"><h3>Interfaces</h3></span>
            <span class="btn-toolbar col-md-2">
                <a ui-sref="intface_create" title="Create an Interface">
                    <h3><i class="glyphicon glyphicon-plus-sign"></i></h3>
                </a>
            </span>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-md-12">
            <div ui-grid="gridOptions" ui-grid-pagination ui-grid-resize-columns
                 ui-grid-move-columns class="ui-grid"></div>
        </div>
    </div>
    <script type="text/ng-template" id="gridCellTemplate.html">
        <div class="ui-grid-cell-contents">
            <div><a ui-sref="intface_edit({ intfaceId: row.entity.id })">{{COL_FIELD}}</a></div>
        </div>
    </script>
</div>
