<div ng-controller="TestcasesController" ng-init="findOne()">
  <form name="testcaseForm" class="form-horizontal">
    <div class="row">
      <div class="col-lg-10">
        <span class="bottom col-lg-10"><h3>Test Case - {{testcase.name}}</h3></span>
          <span class="btn-toolbar col-lg-2">
              <a href="" ui-sref="testcase_all" title="Back">
                <i><h3 class="glyphicon glyphicon-circle-arrow-left"></h3></i>
              </a>
              <a href="" ng-click="create_update(testcaseForm)" title="Save the Test Case">
                <i><h3 class="glyphicon glyphicon-floppy-disk"></h3></i>
              </a>
              <a href="" ng-click="remove(testcase)" title="Delete the Test Case">
                <i><h3 class="glyphicon glyphicon-trash"></h3></i>
              </a>
          </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p><medium ng-show="testcase.updated" class="margin-small">Last updated at {{testcase.updated | date:'dd-MM-yyyy HH:mm:ss'}}</medium></p>
        <p></p>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <tabset>
          <tab heading="Basic Info">
            <p></p>
            <div class="margin-medium">
              <div sf-schema="schema" sf-form="form" sf-model="testcase" ></div>
            </div>
          </tab>
          <tab ng-if="testcase.id" heading="Test Steps" active="true">
            <p></p>
            <div class="row">
              <div class="col-lg-10">
                <h4>
                  <a ng-if="testcase.environmentId" href="" ng-click="goto('environment_edit', {environmentId: testcase.environmentId})">{{testcase.environment.name}}</a>
                  <span ng-if="! testcase.environmentId">Please select an environment to run</span>
                  <a href="" ng-click="changeEnvironment(testcase.environmentId)" title = "Change Environment" class="margin-small"><i class="glyphicon glyphicon-edit"></i></a>
                </h4>
              </div>
              <div class="btn-group col-lg-2" dropdown>
                <button type="button" class="btn btn-primary" dropdown-toggle>
                  Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a ui-sref="teststep_create({testcaseId: testcase.id})">Create a Test Step</a></li>
                  <li><a href="" ng-click="run()">Run Test Steps</a></li>
                </ul>
              </div>
            </div>
            <p></p>
            <div class="row">
              <div class="col-lg-12">
                <div ui-grid="{enableFiltering: true, data: testcase.teststeps, columnDefs: teststepColumnDefs}"
                     ui-grid-resize-columns ui-grid-move-columns class="ui-grid medium-grid"></div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>

    <script type="text/ng-template" id="teststepGridNameCellTemplate.html">
      <div class="ui-grid-cell-contents">
        <div>
          <a ui-sref="teststep_edit({ testcaseId: row.entity.testcaseId, teststepId: row.entity.id })">{{COL_FIELD}}</a>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="teststepGridIntfaceCellTemplate.html">
      <div class="ui-grid-cell-contents">
        <div ng-if="row.entity.intfaceId">
          <a ng-click="grid.appScope.goto('intface_edit', {intfaceId: row.entity.intfaceId})" href="">{{COL_FIELD}}</a>
        </div>
        <div ng-if="! row.entity.intfaceId">Quick SOAP Test</div>
      </div>
    </script>
    <script type="text/ng-template" id="teststepGridDeleteCellTemplate.html">
      <div class="ui-grid-cell-contents">
        <div>
          <a ng-click="grid.appScope.removeTeststep(row.entity)" href="">
            <i class="glyphicon glyphicon-trash center-block text-center"></i>
          </a>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="teststepGridResultCellTemplate.html">
      <div class="ui-grid-cell-contents">
        <div>
          <div ng-if="row.entity.result">
            <div ng-if="row.entity.result.error">Failed</div>
            <div ng-if="! row.entity.result.error">Successful</div>
          </div>
        </div>
      </div>
    </script>
  </form>
</div>