<div ng-controller="TestcasesController" ng-init="findOne()">
  <form name="testcaseForm" class="form-horizontal">
    <div class="row">
      <div class="col-lg-10">
        <span class="bottom col-lg-10"><h3>Test Case - {{testcase.name}}</h3></span>
          <span class="btn-toolbar col-lg-2">
              <a href="" ui-sref="testcase_all" title="Back">
                <i><h3 class="glyphicon glyphicon-circle-arrow-left"></h3></i>
              </a>
              <a href="" ng-click="create_update(testcaseForm)" title="Save the Test Case">
                <i><h3 class="glyphicon glyphicon-floppy-disk"></h3></i>
              </a>
              <a href="" ng-if="testcase.id" ng-click="remove(testcase)" title="Delete the Test Case">
                <i><h3 class="glyphicon glyphicon-trash"></h3></i>
              </a>
          </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p><medium ng-show="testcase.updated" class="margin-small">Last updated at {{testcase.updated | date:'dd-MM-yyyy HH:mm:ss'}}</medium></p>
        <p></p>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <tabset>
          <tab heading="Basic Info">
            <p></p>
            <div class="margin-medium">
              <div sf-schema="schema" sf-form="form" sf-model="testcase" ></div>
            </div>
          </tab>
          <tab ng-if="testcase.id" heading="Test Steps" active="true">
            <p></p>
            <div class="row">
              <div class="col-lg-10">
                <a ng-if="testcase.environmentId" href="" ng-click="viewEnvironment(testcase.environmentId)" class="margin-small">{{testcase.environment.name}}</a>
                <span ng-if="! testcase.environmentId" class="margin-small">Please select an environment to run</span>
                <button type="button" class="btn btn-primary" ng-click="changeEnvironment(testcase)" title="Change Environment">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
              </div>
              <div class="btn-group col-lg-2" dropdown>
                <button type="button" class="btn btn-primary" dropdown-toggle>
                  Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a ui-sref="teststep_create({testcaseId: testcase.id})">Create a Test Step</a></li>
                  <li><a href="" ng-click="run()">Run Test Steps</a></li>
                </ul>
              </div>
            </div>
            <p></p>
            <div class="row">
              <div class="col-lg-12">
                <div ui-grid="{enableFiltering: true, data: testcase.teststeps, columnDefs: teststepColumnDefs}"
                     ui-grid-resize-columns ui-grid-move-columns class="ui-grid medium-grid"></div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>

    <script type="text/ng-template" id="teststepGridNameCellTemplate.html">
      <div class="ui-grid-cell-contents">
        <div>
          <a ui-sref="teststep_edit({ testcaseId: row.entity.testcaseId, teststepId: row.entity.id })">{{COL_FIELD}}</a>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="teststepGridIntfaceCellTemplate.html">
      <div class="ui-grid-cell-contents">
        <div ng-if="row.entity.intfaceId">
          <a ng-click="grid.appScope.viewIntface(row.entity.intfaceId)" href="">{{COL_FIELD}}</a>
        </div>
        <div ng-if="! row.entity.intfaceId">Quick SOAP Test</div>
      </div>
    </script>
    <script type="text/ng-template" id="teststepGridResultCellTemplate.html">
      <div class="ui-grid-cell-contents">
        <div>
          <div ng-if="row.entity.result">
            <div ng-class="{ 'background-red' : row.entity.result.passed === false, 'background-green' : row.entity.result.passed === true }">
              {{row.entity.result.passed}}
            </div>
          </div>
        </div>
      </div>
    </script>
  </form>
</div>