<div ng-controller="TestcasesController" ng-init="find()">
  <div class="row">
    <div class="col-lg-10">
      <span class="bottom col-lg-10"><h3>Test Cases</h3></span>
            <span class="btn-toolbar col-lg-2">
                <a ui-sref="testcase_create" title="Create a Test Case">
                  <i><h3 class="glyphicon glyphicon-plus-sign"></h3></i>
                </a>
            </span>
    </div>
  </div>
  <p></p>
  <div class="row">
    <div ui-grid="{paginationPageSizes: [10,20,50,100], paginationPageSize: 20, enableFiltering: true, data: testcases, columnDefs: columnDefs}"
         ui-grid-pagination ui-grid-resize-columns ui-grid-move-columns class="ui-grid main-grid"></div>
  </div>

  <script type="text/ng-template" id="testcaseGridNameCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <div><a ui-sref="testcase_edit({ testcaseId: row.entity.id })">{{COL_FIELD}}</a></div>
    </div>
  </script>
  <script type="text/ng-template" id="testcaseGridDeleteCellTemplate.html">
    <div class="ui-grid-cell-contents">
      <div><a ng-click="grid.appScope.remove(row.entity)" href=""><i class="glyphicon glyphicon-trash center-block text-center"></i></a></div>
    </div>
  </script>
</div>